.aside {
	&-nav {
		i {
			height: 20px;
			width: 20px;
		}

		svg {
			width: 100%;
		}
	
		.nav-link {
			border-radius: 0.5rem;
			color: var(--color-text-secondary);
			font-weight: 700;
	
			&.active {
				background: $primary-btn-bg;
				color: $white;
			}
	
			&:hover {
				opacity: 0.9;
			}
		}
	}
}

@media (min-width: 992px) {
	.aside {
		position: sticky;
		top: 1rem;
	}
}