.header {
	border-bottom: 1px solid $border-color;

	.nav-link {
		color: var(--color-text-secondary);

		&.active {
			color: var(--color-text-secondary);
			font-weight: 700;
		}
	}

	&-search {
		color: $secondary-color;
		position: relative;

		input {
			background-color: #eee;
			border: 0;
		}

		i {
			height: 24px;
			left: 12px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
		}
	}

	&-dropdown {
		.btn {
			color: var(--color-text-secondary);
			font-weight: inherit;

			&:first-child:active,
			&.active,
			&.show {
				border-color: transparent;
			}
		}

		.dropdown-toggle {
			display: flex;
			align-items: center;

			&::after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L6 6L10 2' stroke='%23666666' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				border: 0;
				width: 0.8rem;
				height: 0.4rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		.navbar-nav .nav-link {
			&:hover,
			&.active {
				position: relative;

				&::after {
					background-color: $primary-btn-bg;
					bottom: 0;
					content: '';
					height: 2px;
					left: 0;
					position: absolute;
					width: 100%;
				}
			}
		}
	}
}
