:root {
	--color-text: #{$primary-color};
	--color-text-secondary: #{$secondary-color};
	--color-background: #{$body-bg};
	--color-dark-btn-bg: #{$primary-color};
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #{$color-white};
		--color-text-secondary: #{$color-white};
		--color-background: #{$primary-color};
		--color-dark-btn-bg: #{$secondary-color};
	}
  }

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font: 16px/1.5 'Commissioner', sans-serif;
}

a {
	transform: 0.3s;
}

@media (min-width: 1400px) {
	.container {
		max-width: 1140px;
	}
}
